<% presenter = SubmissionPresenter.new(submission) %>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<style>
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1rem;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
</style>
<div class='accordion-item'>
  <h2 class='accordion-header' id='header-submission-<%= submission.id %>'>
    <button class='accordion-button collapsed acc-btn' type='button' data-bs-toggle='collapse' data-bs-target='#submission-<%= submission.id %>' aria-expanded='false' aria-controls='submission-<%= submission.id %>'>
      <span>
        <%= presenter.identitee %>
      </span>
      <span class='me-5'>
        <%= presenter.date_et_numero_intervention %>
      </span>
    </button>
  </h2>

  <div id='submission-<%= submission.id %>' class='accordion-collapse collapse' aria-labelledby='submission-<%= submission.id %>' data-bs-parrent='submissions-accordion'>
    <div class='accordion-body'>
      <div class='container'>
        <div class='row'>
          <div class='col-3'>
            <div class='card mb-5 me-2 px-0'>
              <div class='card-header'>
                <h5 class='text-center'>Identitée</h5>
              </div>
              <div class='card-body'>
                <p class='text-center'><%= presenter.nom %> <%= presenter.prenom %><br><%= presenter.matricule %></p>
                <div>
                  <span class='me-3'><img src='/images/phone.png' width='20' height='20' class='img-fluid' alt='Contact'></span>
                  <%= presenter.contact_2 %>
                </div>
                <div>
                  <span class='me-3'><img src='/images/rank.png' width='20' height='20' class='img-fluid' alt='Grade'></span>
                  <%= presenter.grade %>
                </div>
                <div>
                  <span class='me-3'><img src='/images/qualitee.png' width='20' height='20' class='img-fluid' alt='Qualitee'></span>
                  <%= presenter.qualite %>
                </div>
                <div>
                  <span class='me-3'><img src='/images/barrack.png' width='20' height='20' class='img-fluid' alt='Caserne'></span>
                  <%= presenter.centre_secours %>
                </div>
              </div>
            </div>
          </div>
          <div class='col-9'>
            <div class='row'>
              <div class='card mb-3 px-0'>
                <div class='card-header'>
                  <h4 class='text-center'>Faits</h4>
                </div>
                <div class='card-body'>
                  <div class='text-center'><%= presenter.le_a %></div>
                  <div class='text-center my-2'><%= presenter.violence_agent %></div>
                  <div><blockquote><%= presenter.description_faits %></blockquote></div>
                  <%= present_data 'Contexte des faits:', presenter.context %>
                  <%= present_data 'Identitée de l\'agresseur:', presenter.identite_agresseur %>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='card mb-5 px-0'>
                <div class='card-header'>
                  <h4 class='text-center'>Démarches entreprises</h4>
                </div>
                <div class='card-body'>
                  <ul>
                    <%= presenter.consultation_medicale %>
                    <%= presenter.plainte %>
                    <%= presenter.protection_fonctionnelle %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
