<style>
  button.acc-btn {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    grid-gap: 10px;
  }
</style>

<div class='container'>
  <div class='row'>
    <div class='accordion accordion-flush' id='submissions-accordion'>
      <% @submissions.each do |submission| %>
        <%= erb :_submission_accordion, locals: { submission: submission } %>
      <% end %>
    </div>
  </div>
</div>
